<div *ngIf="book">
  <h2>Book {{book.bookname}} details</h2>
  <div>
    <label>Bookname: </label> {{book.bookname}}
    <input [(ngModel)]="book.bookname" placeholder="bookname">
  </div>
  <div>
    <label>Author: </label> {{book.author}}
    <input [(ngModel)]="book.author" placeholder="author">
  </div>
  <div>
    <label>Price: </label> {{book.price}}
    <input [(ngModel)]="book.price" placeholder="price">
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
</div>
