<div *ngIf="purchase">
  <h2>Purchase {{purchase.id}} details</h2>
  <div>
    <label>Book: </label> {{purchase.book.bookname}}
    <input [(ngModel)]="purchase.book.bookname" placeholder="purchasebook">
  </div>
  <div>
    <label>Client: </label> {{purchase.client.name}}
    <input [(ngModel)]="purchase.client.name" placeholder="purchaseclient">
  </div>
  <div>
    <label>Quantity: </label> {{purchase.quantity}}
    <input [(ngModel)]="purchase.quantity" placeholder="purchasequantity">
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
</div>
